{% block title %}{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>companies_visited</title>
</head>

<body>
    <div class="row align-items-md-stretch">
        <div class="col-md-11" >
          <div class="a">
            <h2><font face="Bebas Neue"><strong>AIMS & OBJECTIVES</font></h2>
            
          </div>
        </div>
</body>

</html>
{%endblock body%}